<div>
  <p>Listing Details</p>
  <table class = "listing-user">
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Credit Limit</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.email %></td>
          <td><%= u.credit_limit%></td>
          <td><%= u.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

